<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Numerology App</title>
</head>
    <body>
        <h1>Numerology Webapp</h1>
        <p><%= yield %></p>
    </body>
</html>
